# Environment & secrets
.env

# Python
.venv/
__pycache__/
*.pyc
*.pyo

# dbt
transforms/target/
transforms/dbt_packages/
transforms/logs/

# Logs
logs/
pipeline.log
*.log

# Docker
docker/profiles.yml

# OS
.DS_Store
Thumbs.db